::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: black;
}

::ng-deep .mat-form-field {
    width: 250px;
}

.container {
    width: 80%;
    padding: 2%;
    position: absolute;
    left: 10%;
    top: 20%;
    border: 1px solid #c2185b;
    background: #ffb6c152;
}

h1, h4, form {
    text-align: center;
}

p {
    margin: 0px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background: black;
}

.seats {
    display: inline-block;
    margin-right: 10px;
}