<!-- <h1>{{ pageTitle }}</h1> -->

<form [formGroup]="movieForm" (ngSubmit)="onSubmit(movieForm.value)">
    <mat-form-field>
        <input matInput placeholder="Cím" formControlName="title">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Leírás" formControlName="description">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Rendező" formControlName="director">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Szereplők" formControlName="actors">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Műfaj" formControlName="genre">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Korhatár" formControlName="age_limit">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Film hossza (perc)" formControlName="playtime">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Premier" formControlName="premier">
    </mat-form-field>

    <br>

    <button mat-flat-button color="primary" type="submit">Mentés</button>
</form>

<p>{{ movieForm.value | json }}</p>