<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Mi Mozink
  </button>
  <button mat-button routerLink="/movies">Filmek</button>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/movies/add">Új film hozzáadása</button>
    <button mat-button routerLink="/booking/private">Jegyfoglalások kezelése</button>
    <button style="position: absolute;right: 0;" mat-button (click)="logout()">Kijelentkezés</button>
  </div>
  <button *ngIf="!authService.isLoggedIn" style="position: absolute;right: 0;" mat-button routerLink="/login">
    Bejelentkezés</button>
</mat-toolbar>

<router-outlet></router-outlet>