<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Név" formControlName="name">
    </mat-form-field>

    <br>

    <mat-form-field>
        <input matInput placeholder="Jegyfoglalás sorszáma (id)" formControlName="id">
    </mat-form-field>

    <button mat-flat-button color="primary"
        type="submit"
    >Foglalás lekérdezése</button>

    <mat-nav-list *ngIf = "booking">
        <p>{{ booking.id }}</p>
        <p>{{ booking.name }}</p>
        <p>{{ booking.email }}</p>
        <p>{{ booking.phone }}</p>
        <p>{{ booking.screening.screening_time }}</p>
        <p>{{ booking.screening.room.name }}</p>
        <div *ngFor="let i of seats" mat-list-item>
            <p>{{ i.number }}</p>
        </div>
    </mat-nav-list>
</form>